<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <main>
    <header>
      <div class="nav">
        <a href="/">home</a>
        <a href="/all">all products</a>
      </div>
    </header>
    <div class="big">
      <% data.forEach((e)=>{%>
        <div class="small">
          <p> <%= e.name %> </p>
          <p>price<%= e.price %> </p>
          <img src=<%= e.image %>  alt="">
          <p>description<%= e.description %> </p>
        </div>
<button id="btn">update</button>
        <form id="form" action="/update/<%= e.id %>?_method=put" method="post">
        <input type="text" name="name" value="<%= e.name %>">
        <input type="text" name="price" value="<%= e.price %>">
        <input type="text" name="image" value="<%= e.image %>">
        <input type="text" name="description" value="<%= e.description %>">
        <button type="submit">update</button>
  


        </form>
        <form action="/delete/<%= e.id %>?_method=delete" method="post">
          <button type="submit">delete</button>

        </form>
             <% }) %> 
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>