<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>

  </header>
  <main>
    <div class="big">
      <% data.forEach((e)=>{%>
        <div class="small">
          <p> <%= e.name %> </p>
          <p>price<%= e.price %> </p>
          <img src=<%= e.image %>  alt="">
          <p>description<%= e.description %> </p>
        </div>
        <form action="/save" method="post">
        <input type="hidden" name="name" value="<%= e.name %>">
        <input type="hidden" name="price" value="<%= e.price %>">
        <input type="hidden" name="image" value="<%= e.image %>">
        <input type="hidden" name="description" value="<%= e.description %>">
        <button type="submit">add-to-card</button>


        </form>
             <% }) %> 
    </div>
  </main>
</body>
</html>